# Sets = 
### Type of data type containers

In [1]:
job_skills = {'tableau', 'sql', 'python', 'statistics'}
job_skills

{'python', 'sql', 'statistics', 'tableau'}

In [ ]:
job_skills[1] # Does not work because there is not an index in a set like in a list

TypeError: 'set' object is not subscriptable

In [ ]:
job_skills.add('looker')  # similar to like in a list
job_skills

{'looker', 'python', 'sql', 'statistics', 'tableau'}

In [4]:
job_skills.add('sql') # will not add this because it only looks at unique values
job_skills

{'looker', 'python', 'sql', 'statistics', 'tableau'}

In [ ]:
job_skills.pop('tableau') 
# does not work the same as a list.  Cannot specify like you could in a list
# instead you can leave the brackets empty, but it will remove one at random

TypeError: set.pop() takes no arguments (1 given)

In [ ]:

job_skills.remove('sql')
job_skills
# rather you must use the remove tool

{'looker', 'python', 'statistics', 'tableau'}

In [7]:
# use case for a set is when you want unique values. Take this list for example
# we will convert it into a set and it will only keep unique values
skill_list = ['python', 'sql', 'statistics', 'tableau', 'python', 'sql', 'statistics', 'tableau']

In [ ]:
set(skill_list) # now it is a set

{'python', 'sql', 'statistics', 'tableau'}

In [9]:
 # if you want to convert back to a list just wrap it back in a list command
list(set(skill_list))

['tableau', 'python', 'sql', 'statistics']