# Lambda Functions

In [2]:
mul_two = lambda x: x*2

mul_two(3)
# this is poor use of a lambda function as it is supposed to help
# condense your code. So, rather you could wrap it in parentheses to
# run it on one line. Like in the following example

6

In [5]:
(lambda x, y: x*2 + y)(3, 4)

10

In [7]:
# Example

salary_list = [100_000, 200_000, 150_000, 120_000, 80_000, 750_000]

# could write this and have multiple lines of code

def calculate_salary (base_salary, bonus_rate = .1):
    return base_salary * (1 + bonus_rate)

total_salary_list = [calculate_salary(salary) for salary in salary_list]
total_salary_list

[110000.00000000001,
 220000.00000000003,
 165000.0,
 132000.0,
 88000.0,
 825000.0000000001]

In [ ]:
# or we could write this with a lambda function

total_salary_list = [(lambda x: x * 1.1)(salary) for salary in salary_list]
total_salary_list

# same result but shorter

[110000.00000000001,
 220000.00000000003,
 165000.0,
 132000.0,
 88000.0,
 825000.0000000001]

In [ ]:
# however the proper way to write this would have been

total_salary_list = [salary * 1.1 for salary in salary_list]
total_salary_list

# no need for a lambda function in this case just an example of how
# one could be used

[110000.00000000001,
 220000.00000000003,
 165000.0,
 132000.0,
 88000.0,
 825000.0000000001]

### Data Filtering Example using Lambda

In [16]:
jobs_data = [
    {'job_title': 'Data Scientist', 'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst', 'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'Tensor Flow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False}
]

In [18]:
list(filter(lambda job: job['remote'] and "Python" in job['job_skills'], jobs_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'Tensor Flow', 'Keras'],
  'remote': True}]