 # Excercise Data Cleaning

In [1]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'},
    {'job_title': 'Data Engineer', 'job_skills': "['AWS', 'Python', 'Tensorflow']", 'job_date': '2023-05-18'},
    {'job_title': 'Data Analyst', 'job_skills': "['Python', 'Data Analysis', 'SQL']", 'job_date': '2023-05-06'},
]

In [2]:
from datetime import datetime

In [4]:
datetime.now()

datetime.datetime(2025, 3, 30, 10, 54, 44, 498771)

In [ ]:
type(data_science_jobs[0]['job_date'])
# currently a string, but we want to convert it to a date data type

str

In [9]:
test_date =  (data_science_jobs[0]['job_date'])

In [ ]:
datetime.strptime(test_date, '%Y-%m-%d')

datetime.datetime(2023, 5, 12, 0, 0)

In [ ]:
for job in data_science_jobs:
    job['job_date'] = datetime.strptime(job['job_date'], '%Y-%m-%d')

In [ ]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': "['Python', 'SQL', 'Machine Learning']",
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': "['AWS', 'Python', 'Tensorflow']",
  'job_date': datetime.datetime(2023, 5, 18, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': "['Python', 'Data Analysis', 'SQL']",
  'job_date': datetime.datetime(2023, 5, 6, 0, 0)}]

In [ ]:
import ast

for job in data_science_jobs:
    job['job_skills'] = ast.literal_eval(job['job_skills'])

In [ ]:
# could have run this to do all these data cleaning steps at the same time

for job in data_science_jobs:
    job['job_date'] = datetime.strptime(job['job_date'], '%Y-%m-%d')
    job['job_skills'] = ast.literal_eval(job['job_skills'])

In [19]:
type(data_science_jobs[0]['job_skills'])

list

In [20]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'SQL', 'Machine Learning'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': ['AWS', 'Python', 'Tensorflow'],
  'job_date': datetime.datetime(2023, 5, 18, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': ['Python', 'Data Analysis', 'SQL'],
  'job_date': datetime.datetime(2023, 5, 6, 0, 0)}]