# Create a Variable

variable_name = value

In [4]:
salary = 100000

In [5]:
salary

100000

### Calculate the Following

#### Total Salary = (Base Salary) * (1 + Bonus Rate)

In [6]:
base_salary = 100000
bonus_rate = .10

In [7]:
total_salary = (base_salary) * (1 + bonus_rate)

In [8]:
total_salary

110000.00000000001

### Variables aren't always #'s

In [9]:
company_name = 'DataWiz Inc.'

In [10]:
job_wfh = True

In [12]:
job_id = 101
job_title = 'Data Analyst'
job_salary = 125000

In [13]:
print("Data Job Description")
print("+++++++++++++++++++++")
print("Job ID:        ", job_id)
print("Company Name:  ", company_name)
print("Salary:        ", job_salary)
print("WFH:           ", job_wfh)

Data Job Description
+++++++++++++++++++++
Job ID:         101
Company Name:   DataWiz Inc.
Salary:         125000
WFH:            True