# Python Terms

### Objects: The Data Records
##### **Object** = A data record with fields; an instance of a class

In [2]:
salary = 100000
print(salary)

100000

In [4]:
type(100000)

int

In [5]:
type('Data Analyst')

str

### Variables: The Reference to Objects
#### **Variable** = A defined name that references an object

In [6]:
job_title = "Data Analyst"
job_location = "United States"
job_salary = 90000

In [7]:
id(job_title)

1712180357360

In [8]:
id(job_location)

1712180347824

In [10]:
job_1 = "Data Analyst"
job_2 = "Data Analyst" # Will have 2 different ID's because they are referencing 2 different objects

In [12]:
job_3 = job_1
id(job_1), id(job_3) # Gives thame ID # because they are referencing the same objects

(1712194573488, 1712194573488)

### Functions: Manipulators of Objects
##### **Function** = A reusable piece of code that performs a specific task

In [14]:
print("What is up motherfucker")

What is up motherfucker

In [16]:
def greet():
    return "what is up motherfucker" # this creates the function "greet()" to call later
greet()

'what is up motherfucker'

In [37]:
def display_info(job_title, job_location, job_salary):
    return print(f"JOB:      {job_title}\nLOCATION: {job_location}\nSALARY:   ${job_salary:,.0f}")

In [38]:
display_info(job_title, job_location, job_salary)

JOB:      Data Analyst
LOCATION: United States
SALARY:   $90,000

### Classes: The Template of Objects
##### **Class** = A template for creating objects (records)

In [ ]:
class JobPost:
    def __init__(self, title, location, salary): # Sets up a class. At least gives the idea of the
        self.title = title                       # basic structure
        self.location = location
        self.salary = salary

In [ ]:
JobPost(job_title, job_location, job_salary) # Nothing is set to print @ the moment

### Attributes: The Variables of an Object
##### **Attribute** = A field in a record, defined by its class

In [ ]:
class JobPost:
    def __init__(self, title, location, salary):
        self.title = title
        self.location = location
        self.salary = salary

In [43]:
job_1 = JobPost(job_title, job_location, job_salary)

In [ ]:
job_1.title # No parentheses needed as you are pulling a variable basically

'Data Analyst'

### Method: The Functions of an Object
##### **Method** = A function defined inside a class that operates as an object

In [ ]:
class JobPost:
    def __init__(self, title, location, salary):
        self.title = title
        self.location = location
        self.salary = salary
    def display_info(self):
        return print(f"JOB:      {self.title}\nLOCATION: {self.location}\nSALARY:   ${self.salary:,.0f}")

In [54]:
job_1 = JobPost(job_title, job_location, job_salary)

In [52]:
job_1.title

'Data Analyst'

In [ ]:
job_1.display_info() # The display_info becomes a method that can be ran via the class

JOB:      Data Analyst
LOCATION: United States
SALARY:   $90,000