# Data Types

In [1]:
total_salary = 110000
bonus_salary = 10000

In [2]:
type(total_salary)

int

In [4]:
base_salary = total_salary - bonus_salary
base_salary

100000

In [5]:
job_title = 'Data Analyst'
remove_word = 'Data'

In [6]:
type(job_title)

str

In [8]:
final_title = job_title - remove_word # Cannot be done because subtraction and strings do not go together

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [11]:
'Data ' + 'Nerd'

'Data Nerd'

In [17]:
'Data Nerd'.upper()

'DATA NERD'

In [19]:
job_id = 102
type(job_id)

int

In [21]:
job_id = float(102)
type(job_id)

float