# Operators Part 1

### Arithmetic Operators

In [3]:
2 + 2

4

In [5]:
"what" + " is" + " up?"

'what is up?'

In [7]:
'What ' * 10

'What What What What What What What What What What '

In [ ]:
'what' + ' is' - ' is' # Not all operators work with all data types

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [9]:
min_salary = 20_000 # _ is ignored. Good for writing out #'s that would have a comma. more readable
max_salary = 80_000

avg_salary = (min_salary + max_salary) / 2
avg_salary

50000.0

### Assignment Operators

In [10]:
applicant_1 = 'Kelly'
applicant_2 ='Luke'

In [11]:
applicant_1, applicant_2 = applicant_2, applicant_1
applicant_1, applicant_2

('Luke', 'Kelly')

In [12]:
x = 1

In [13]:
x = x + 1
x += 1 # will do the same thing as the one above, but you do not have to reassign x as this reassigns and adds 1 at the same time

In [ ]:
x # in this case it did it twice because it ran both lines of code

3

### Comparison Operators

In [15]:
salary_kelly = 60_000
salary_luke = 40_000

In [16]:
salary_kelly == salary_luke

False

In [17]:
salary_luke != salary_kelly

True

In [18]:
# can be used inside of other functions
if (salary_kelly > salary_luke):
    print('Kelly is paid more than Luke')

Kelly is paid more than Luke

# Operators Part 2
### Logical Operators 
###### AND, OR, NOT

In [ ]:
job_work_from_home = True
job_health_insurance = False
job_no_degree_mention = True

job_health_insurance and job_work_from_home and job_no_degree_mention

# going to be false becaue not all conditions are met as all three are being required to be true

False

In [4]:
job_no_degree_mention or job_work_from_home or job_health_insurance

# going to be true because just one of the conditions has to be met

True

In [5]:
not job_no_degree_mention or job_work_from_home or job_health_insurance

True

### Membership Operators

###### IN, NOT IN

In [ ]:
"Data" in "Data Nerd"

# returns true because data is in the statment. Is case sensitive

True

In [7]:
job_skills = ['python', 'r', 'sql']

'python' in job_skills

True

In [ ]:
'python' not in job_skills # feel like these 2 are pretty simple

False

### Identity Operators
###### IS, IS NOT

In [9]:
salary_shawn = 100_000
salary_nikki = 100_000

salary_shawn == salary_nikki

True

In [ ]:
salary_shawn is salary_nikki
# this returns false because they are different variables. They might equal the same 
# but are not the same thing. could use ID to verify and they would have different ID #'s