# Lists = 
### Type of data type containers

In [3]:
my_list = [1, 'python', [2, 'SQL']]
my_list

[1, 'python', [2, 'SQL']]

In [4]:
job_list = ["Python", "SQL", "Excel"]

In [6]:
 job_list.append("Tableau")
job_list

['Python', 'SQL', 'Excel', 'Tableau', 'Tableau']

In [11]:
job_list.remove('Tableau')

In [ ]:
job_list # in lists the index starts @ 0. So, Python is 0 and then so on

['Python', 'SQL', 'Excel', 'Tableau']

In [9]:
len(job_list)

4

In [ ]:
job_list[1] # 2nd item is SQL, but to get the 2nd item we have to put 1 as that is technically the 2nd item

'SQL'

In [ ]:
job_list.insert(2, 'Tableau') # This specifies where we want tableau to appear in the list. We are specifying we want it to go in the 2 index spot
job_list

['Python', 'SQL', 'Tableau', 'Excel']

In [ ]:
job_list.pop(3) # pop is another way to remoce a value. It is telling me that it removed Excel

'Excel'

In [ ]:
Job_list = ["SQL", "Excel", "Python"]
job_list[0:2] 
# starting index is inclusive. Ending index is exclusive. So, to get the full list you have to go one
# past the index that you want to be included in the list

['Python', 'SQL']

In [ ]:
job_list[0:3]
# this will actually give us the full list
# or you can not specify index and just put the colon and it will return all

['Python', 'SQL', 'Tableau']

In [17]:
luke_skills = ['python', 'bigquery', 'r']
kelly_skills = ['python', 'sql', 'looker']

all_skills = luke_skills + kelly_skills
all_skills

['python', 'bigquery', 'r', 'python', 'sql', 'looker']

In [ ]:
all_skills[::2]
# shows every second item. '::' and then a number allows you to pull every whatever specified number 
# item starting from index 0

['python', 'r', 'sql']

In [23]:
job_skills = ['python', 'excel', 'sql', 'looker']

In [25]:
# you can assign variables to each item in a list like this
skill1, skill2, skill3, skill4 = job_skills

print(skill1)
print(skill2)
print(skill3)
print(skill4)

python
excel
sql
looker

In [26]:
skill_concerned, *skill_dont_care = job_skills
# the asterik is an unpacker and makes it so the first item will go into the skill_concerned
# then the rest of the items will go into the skill_dont_care because we are not defining enough items

print(skill_dont_care)
print(skill_concerned)

['excel', 'sql', 'looker']
python